/***************************************************/
/* View CSS guidelines in main.scss before editing */
/***************************************************/

body {
  font-family:     $base-font-family;
  font-size:       $base-font-size;
  font-weight:     300;
  line-height:     1.5;
}
hr {
  border:          none;
  border-bottom:   .3em solid;
  margin:          1.5em 0 1.2em;
}
a > h1,
a > h2,
a > h3,
a > h4,
a > h5 {
  color:           inherit;
}
h1,
h2,
h3,
h4,
h5 {
  text-rendering:  optimizeLegibility;
  line-height:     1;
  margin:          1.5rem 0;
  text-transform:  uppercase;
}
h1,
h2,
h4 {
  color:           $light-red;
  font-weight:     900;
}
h3,
h4,
h5 {
  margin:          0;
}
h3,
h5 {
  color:           $light-teal;
  font-weight:     300;
}
h1 {
  border-bottom:   .1em solid $light-teal;
  font-size:       8em;
  line-height:     .8333;
  margin-top:      0;
  overflow:        hidden;
}
h2 {
  font-size:       4em;
}
h3 {
  font-size:       2em;
}
h4,
h5 {
  font-size:       1.5em;
  line-height:     1em;
}
p,
ul,
ol {
  margin:          1.5em 0;
}
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol {
  &:first-child,
  img + &,
  div[class*="placeholder"] + & {
    margin-top:    0;
  }
}
a,
a:link {
  // -webkit-sizing:  border-box;
  // -moz-sizing:     border-box;
  // box-sizing:      border-box;
  color:           $light-teal;
  display:         inline-block;
  margin:          0 -.35em;
  padding:         0 .35em;
  text-decoration: none;
}
a:active,
a:focus,
a:hover {
  color:           $light-red;
}
a:visited {
  color:           $teal;
}
a:focus {
  outline:         .15em solid lighten($light-teal, 5%);
}
ul {
  list-style:      none;
  padding:         0;
}
ol {
  padding:         0;
}
.unlist li {
  float:           left;
  margin-right:    1.5rem;
}
.unlist li:last-child {
  margin-right:    0;
}
.capital {
  text-transform:  uppercase;
}
/* Viewport based typography on phones and small tablets */
@include media-query($medium) {
  body {
    font-size:     3vw;
  }
  h1 {
    font-size:     6em;
  }
  h2 {
    font-size:     3em;
  }
}
@include media-query($small) {
  body {
    font-size:     4vw;
  }
  h1 {
    font-size:     4em;
  }
  h2 {
    font-size:     3em;
  }
}